body img{width: 150px;
height: 150px;}
table{ width: 100%;
height: 70vh;
border-collapse: collapse;
text-align: center;
}
th,td{
    font-family: 'Yaldevi', sans-serif;
    font-size: 30px;
    color: rgb(7, 14, 112);
    border: 1px solid black;
}
h1{
    font-family: 'Yaldevi', sans-serif;
    font-size: 60px;
    color: rgb(12, 44, 82);
    text-align: center;
}
h1:hover{
    cursor: pointer;
    font-size: ;
    font-weight: ;
    color: ;
    background-color}